* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

body {
    background-color: #F0F0F0;
    height: 100vh;
    width: 100%;

}

.wrapper {
    height: 70%;
    width: 90%;
    background-color: hsl(212, 45%, 89%);
    margin: auto;
    position: relative;
    top: 15%;
    box-shadow: 5px 25px 25px lightgrey;
    
    .card {
        background-color: hsl(0, 0%, 100%);
        width: 230px;
        margin: auto;
        position: relative;
        top: 25%;
        padding: 0.7em;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 5%;
        box-shadow: 5px 10px 25px lightgrey;

        img {
            width: 100%;
            margin-bottom: 1em;
            border-radius: 3%;
        }

        p.qr-header {
            font-weight: bold;
            margin-bottom: 0.8em;
        }

        p.qr-description {
            opacity: 0.5;
            font-size: 0.7rem;
            margin-bottom: 1em;
        }
    }
}

@media only screen and (max-width: 375px){
    .wrapper {
        height: 100vh;
        width: 100%;
        position: inherit;
    }
}